body {
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
}

h3 {
    color: lightgrey;
    margin-left: 36%;
    margin-top: 2%;
    z-index: 2;
    position: absolute;
}



.main1 {
    position: relative;
    height: 100%;
}

.imgs {
    position: absolute;
}

.flyImgs {
    width: 100%;
    max-width: 10px;
    height: auto;
}

#frog-img {
    width: 100%;
    max-width: 90px;
    height: auto;
    margin-top: 32%; 
    margin-left: 67%;
    
}

#pond-img {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 34% 0% 0% 43%;
}

#tree-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 10% 0% 0% 35%;
}



#dialogue {
    max-width: 400px;
    float: left;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 24px;
}

#footer {
    margin: 4% 0% 0% 60%;
    position: fixed;
    display: inline-block;
    visibility: hidden; 
    z-index: 4;
}

#black-circle {
    max-width: 150px;
    position: absolute;
    margin: 18% 0 0 63%;
}

#fly-img1 {
    margin-top: 20%;
    margin-left: 65%;   
}

#fly-img2 {
    margin-top: 20%;
    margin-left: 70%;   
}

#fly-img3 {
    margin-top: 24%;
    margin-left: 66%;   
}

#fly-img4 {
    margin-top: 22%;
    margin-left: 67%;   
}

#fly-img5 {
    margin-top: 25%;
    margin-left: 65%;   
}
#fly-img6 {
    margin-top: 21%;
    margin-left: 68%;   
}

#fly-img7 {
    margin-top: 22%;
    margin-left: 69%;   
}

#fly-img8 {
    margin-top: 25%;
    margin-left: 66%;   
}

#fly-img9 {
    margin-top: 23%;
    margin-left: 67%;   
}

#fly-img10 {
    margin-top: 21%;
    margin-left: 70%;   
}

#fly-img11 {
    margin-top: 23%;
    margin-left: 69%;   
}
#fly-img12 {
    margin-top: 23%;
    margin-left: 71%;   
}
#fly-img13 {
    margin-top: 25%;
    margin-left: 70%;   
}
#fly-img14 {
    margin-top: 20%;
    margin-left: 67%;   
}
#fly-img15 {
    margin-top: 21%;
    margin-left: 66%;   
}
#fly-img16 {
    margin-top: 24%;
    margin-left: 68%;   
}
#fly-img17 {
    margin-top: 23%;
    margin-left: 64%;  
}
#fly-img18 {
    margin-top: 19%;
    margin-left: 68%;
}
#fly-img19 {
    margin-top: 26%;
    margin-left: 68%;   
}
#fly-img20 {
    margin-top: 21%;
    margin-left: 71%;   
}