body {
    margin: 0 auto;
}

.container {
    position: relative;
    height: 100%;


}

.imgdivs {
    display: inline-block;
    position: absolute;
    justify-content: center;
    
}

#tree-div {
    margin: 20% 0% 10% 26%;
    
    
}

#fly-div {
    margin: 30% 0% 20% 70%;
    
}

#pond-div {
    margin: 54% 10% 20% 39%;
    width: 666px;
    
}

#frog-div{
    margin: 50% 0% 0% 67%;
    
}

#frog-img {
    width: 100%;
    max-width: 90px;
    height: auto;
}

#pond-img {
    width: 100%;
    max-width: 700px;
    height: auto;
}


#tree-img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

#fly-img {
    width: 100%;
    max-width: 10px;
    height: auto;
}